@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
    color: aliceblue;
    padding:0;
    margin:0;
    box-sizing: border-box;
}
h1{
    font-weight: 900;
    color: aliceblue;
}
header{
    background: url(./assets/AR-es-20230206-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    background-size: cover;
    background-position: center;
    height: 700px;
    /* background: radial-gradient(rgb(0,rgba(0, 0, 0, 0.185)0),rgba(128, 128, 128, 0.123)); */
}
.fondo{
    backdrop-filter: brightness(40%);
}
.border_box{
    border-bottom: 5px solid grey;
}
a{
    text-decoration:none;
}

a:hover{
    text-decoration: underline;
    text-decoration-color: gray;
}

.links-footer{
    width: 50%;
    height:170px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24;
 
  
}
.padding-start{
    padding-left:250px;
}

.border-black{
    border-color:black;
    border:3px solid;
}
.bg-black{
    background-color:black;
}